<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - admin</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/layui-v2.5.4/layui/css/layui.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/layui-v2.5.4/layui/css/layui.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @RenderBody()

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/layui-v2.5.4/layui/layui.js"></script>
        <script src="~/lib/layui-v2.5.4/layui/iconPicker/common.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/layui-v2.5.4/layui/layui.js"></script>
        <script src="~/lib/layui-v2.5.4/layui/iconPicker/common.js"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/indexBase.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
