
@{
    ViewData["Title"] = "后台管理";
}
<style>
    .first-tab i.layui-tab-close {
        display: none !important;
    }
    .layui-tab-item{
        height:100%;
    }
</style>

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/swagger/index.html">接口</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="sideBar">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="root" href="javascript:;">系统模块</a>
                    <dl id="baseModule" class="layui-nav-child">
                        @*<dd><a id="user" url="/user" class="leaf" href="javascript:;">用户管理</a></dd>
                        <dd><a id="role" url="/role" class="leaf" href="javascript:;">角色管理</a></dd>
                        <dd><a id="module" url="/module" class="leaf" href="javascript:;">模块管理</a></dd>
                        <dd><a id="power" url="/power" class="leaf" href="javascript:;">权限管理</a></dd>*@
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">业务模块</a>
                    <dl id="businessModule" class="layui-nav-child">
                        @*<dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>*@
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-tab" lay-filter="tabContent" lay-allowclose="true" style="height: calc(100% - 20px);">
            <ul class="layui-tab-title">
                <li class="layui-this first-tab" lay-id="home">首页</li>
            </ul>
            <div class="layui-tab-content" style="height: calc(100% - 60px);">
                <div class="layui-tab-item layui-show">内容1</div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>


@section Scripts{
    <script>
        //JavaScript代码区域
        layui.use(['element'], function (element) {
            var $ = layui.jquery;
            // 组织展示导航栏
            $.get('/api/module', function (res) {
                console.log(res);
                res.data.forEach((value) => {
                    if (value.isBase == 1) {
                        $("#baseModule").append(`<dd><a id="${value.id}" url="${value.link}" class="leaf" href="javascript:;">${value.name}</a></dd>`);
                    } else {
                        $("#businessModule").append(`<dd><a id="${value.id}" url="${value.link}" class="leaf" href="javascript:;">${value.name}</a></dd>`);
                    }
                });

                //重新对导航进行渲染
                element.render('nav');
                // 监听导航点击
                var openTabs = [];
                element.on('nav(sideBar)', function (elem) {

                    var title = $(elem).text();
                    var id = $(elem).attr("id");
                    var url = $(elem).attr("url");
                    var isLeaf = $(elem).hasClass("leaf");
                    if (!isLeaf) {
                        return;
                    }
                    if (openTabs.indexOf(id) == -1) {
                        openTabs.push(id);
                        element.tabAdd('tabContent', {
                            title: title //用于演示
                            , content: `<iframe style="width: 100%; min-height: 100%;" scrolling="no" frameborder="no" src="${url}"></iframe>`
                            , id: id //实际使用一般是规定好的id，这里以时间戳模拟下
                        })
                    }
                    element.tabChange('tabContent', id);
                });
                element.on('tabDelete(tabContent)', function (data) {
                    openTabs.splice(data.index - 1, 1);
                });

            });


           
        });
    </script>
}