

@{
    ViewData["Title"] = "Index";
    Layout = "_IndexLayout";
}
<style>
    .role-cont {
        float: left;
        width: 150px;
    }

        .role-cont dd {
            padding: 5px 0;
        }

        .role-cont dd, .role-cont h2 {
            text-align: center;
        }

    .module-cont {
        float: left;
        width: calc(100% - 180px);
        padding: 0 15px;
    }

    .highlight-text, .highlight-text:hover {
        color: #ff6709;
    }
</style>

<div class="role-cont">
    <div class="layui-collapse" lay-accordion>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">杜甫</h2>
            <dl id="roleList" class="layui-colla-content layui-show"></dl>
        </div>
    </div>
</div>

<div class="module-cont">
    <div class="layui-card">
        <div class="layui-card-header">模块权限</div>
        <div class="layui-card-body">
            <div id="moduleTree"></div>
            @*<form class="layui-form" action="">
                <div id="moduleList" class="layui-form-item">
                    <input type="checkbox" name="" title="写作" lay-skin="primary" checked>
                    <input type="checkbox" name="" title="发呆" lay-skin="primary">
                    <input type="checkbox" name="" title="禁用" lay-skin="primary" disabled>
                </div>
            </form>*@
        </div>
    </div>
</div>


@section Scripts{
    <script>
        //Demo
        layui.use(['form', 'tree'], function (form, tree) {
            var $ = layui.jquery;
            loadRole().then(() => {
                var role = $("#roleList .highlight-text").attr("id");
                loadModule(role);
            });

            function loadRole() {
                return new Promise((r, e) => {
                    $.get('/api/role', function (res) {
                        var roles = res.data;
                        if (roles.length == 0) {
                            return;
                        }
                        var elems = roles.map((value) => {
                            return `<dd><a id="${value.id}" class="role-item" href="#">${value.name}</a></dd>`;
                        });
                        elems.shift();
                        elems.unshift(`<dd><a id="${roles[0].id}" class="role-item highlight-text" href="#">${roles[0].name}</a></dd>`);
                        $("#roleList").empty().append(elems.join(""));
                        $(".role-item").click(function () {
                            $(".role-item").removeClass("highlight-text");
                            $(this).addClass("highlight-text");
                        });
                        r();
                    });
                });
            }
            function loadModule(role) {
                return new Promise((r, e) => {
                    $.get('/api/power', { roleId: role }, function (res) {
                        var modules = res.data;
                        if (modules.length == 0) {
                            return;
                        }
                        tree.render({
                            elem: '#moduleTree',  //绑定元素
                            data: modules,
                            showCheckbox: true,
                            showLine: false
                        });
                        //var elems = modules.map((value) => {
                        //    if (value.hasPower) {
                        //        return `<input type="checkbox" name="${value.id}" title="${value.name}" lay-skin="primary" checked>`;
                        //    }
                        //    return `<input type="checkbox" name="${value.id}" title="${value.name}" lay-skin="primary">`;
                        //});
                        //$("#moduleList").empty().append(elems.join(""));
                        //form.render(); 
                    });
                });
            }
        });
    </script>
}
