
@{
    ViewData["Title"] = "Create";
    Layout = "_CreateLayout";
}

<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">模块名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">链接</label>
        <div class="layui-input-inline">
            <input type="text" name="link" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标</label>
        <div class="layui-input-inline">
            <input type="text" name="icon" id="icon" required lay-filter="icon" class="hide">
        </div>
    </div>
    <div style="margin-left:50%; transform: translateX(-50%);">
        <button type="button" class="layui-btn" lay-submit lay-filter="create">确定</button>
        <button type="button" class="layui-btn" id="cancel">取消</button>
    </div>
</form>

@section Scripts{
    <script>
        //Demo
        layui.use(['form', 'iconPicker'], function (form, iconPicker) {
            var $ = layui.jquery;

            iconPicker.render({
                // 选择器，推荐使用input
                elem: '#icon',
                // 数据类型：fontClass/unicode，推荐使用fontClass
                type: 'fontClass',
            });
            //监听提交
            form.on('submit(create)', function (data) {
                $.ajax({
                    url: "/api/module",
                    type: "post",
                    data: data.field,
                    success: function (res) {
                        window.parent.frameMsg(res.msg);
                        window.parent.reloadTable();
                        closeSelf();
                    }
                });
                return false;
            });
            $("#cancel").click(function () {
                closeSelf();
            });
        });
    </script>
}


