
@{
    ViewData["Title"] = "Create";
    Layout = "_CreateLayout";
}

<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" name="username" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-inline">
            <select name="roleId" lay-verify="required">
                <option value=""></option>
                <option value="0">北京</option>
                <option value="1">上海</option>
                <option value="2">广州</option>
                <option value="3">深圳</option>
                <option value="4">杭州</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-inline">
            <input type="text" name="email" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div style="margin-left:50%; transform: translateX(-50%);">
        <button type="button" class="layui-btn" lay-submit lay-filter="create">确定</button>
        <button type="button" class="layui-btn" id="cancel">取消</button>
    </div>
</form>

@section Scripts{
    <script>
        //Demo
        layui.use('form', function (form) {
            var $ = layui.jquery;
            //监听提交
            form.on('submit(create)', function (data) {
                $.ajax({
                    url: "/api/user",
                    type: "post",
                    data: data.field,
                    success: function (res) {
                        window.parent.frameMsg(res.msg);
                        window.parent.reloadTable();
                        closeSelf();
                    }
                });
                return false;
            });
            $("#cancel").click(function () {
                closeSelf();
            });
        });
        
    </script>
}


