
@{
    ViewData["Title"] = "Create";
    Layout = "_EditLayout";
}

<form class="layui-form" action="" lay-filter="edit">
    <div class="layui-form-item">
        <label class="layui-form-label">角色名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-inline">
            <input type="text" name="memo" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div style="margin-left:50%; transform: translateX(-50%);">
        <button type="button" class="layui-btn" lay-submit lay-filter="edit">确定</button>
        <button type="button" class="layui-btn" id="cancel">取消</button>
    </div>
</form>

@section Scripts{
    <script>
        //Demo
        layui.use('form', function (form) {
            var $ = layui.jquery;
            $.get('/api/role/Single?id=' + '@ViewBag.id', function (res) {
                if (res.status == 0) {
                    window.parent.frameMsg(res.msg);
                    window.parent.reloadTable();
                    closeSelf();
                }
                // 表单初始赋值
                form.val("edit", {
                    "name": res.data.name
                    , "memo": res.data.memo
                })
            });
            //监听提交
            form.on('submit(edit)', function (data) {
                data.field.id = '@ViewBag.id';
                $.ajax({
                    url: "/api/role",
                    type: "put",
                    data: data.field,
                    success: function (res) {
                        window.parent.frameMsg(res.msg);
                        window.parent.reloadTable();
                        closeSelf();
                    }
                });
                return false;
            });
            $("#cancel").click(function () {
                closeSelf();
            });
        });
    </script>
}


